<h1>Doctor Dashboard</h1>
<h2>Welcome, {{ user.username }}!</h2>
  <p>Common information:</p>
  <p>First Name: {{ user.first_name }}</p>
  <p>Last Name: {{ user.last_name }}</p>
  <p>email: {{ user.email }}</p>
  <p>address_line1: {{ user.address_line1 }}</p>
  <p>city: {{ user.city }}</p>
  <p>state: {{ user.state }}</p>
  <p>pincode: {{ user.pincode }}</p>
  <h2>Profile picture </h2>
  <img src="{{ user.profile_picture.url }}" alt="Profile Picture" width="200px" height="200px">

  <!-- Link to view the blog list -->
  <a href="{% url 'blog_list' %}">View Blog</a>

  <!-- Button to add a new blog post -->
  {% if user.is_doctor %}
    <a href="{% url 'add_blog_post' %}">Add Blog Post</a>
  {% endif %}