{% extends 'myapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'myapp/signup.css' %}">
  <title>Sign Up</title>
</head>
<body>
  {% block body %}
  <div class="container">
    <h2>Sign Up</h2>
    <div class="card">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        {{ form.first_name }}
        <label for="last_name">Last Name:</label>
        {{ form.last_name }}
        <label for="email">Email:</label>
        {{ form.email }}
        <label for="password1">Password:</label>
        {{ form.password1 }}
        <label for="password2">Confirm Password:</label>
        {{ form.password2 }}
        <label for="profile_picture">Profile Picture:</label>
        {{ form.profile_picture }}
        <label for="username">Username:</label>
        {{ form.username }}
        <label for="address_line1">Address:</label>
        {{ form.address_line1 }}
        <label for="city">City:</label>
        {{ form.city }}
        <label for="state">State:</label>
        {{ form.state }}
        <label for="pincode">Pincode:</label>
        {{ form.pincode }}
        <label for="user_role">Role:</label>
        <select id="user_role" name="user_role" required>
          <option value="None">None</option>
          <option value="patient">Patient</option>
          <option value="doctor">Doctor</option>
        </select>

        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            The passwords do not match.
          </div>
        {% endif %}

        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
  {% endblock %}
</body>
</html>
