<h2>Sign Up</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    first_name: {{ form.first_name}}</br>
    last_name: {{ form.last_name}}</br>
    email: {{ form.email}}</br>
    password: {{ form.password1}}</br>
    confirm_password : {{ form.password2}}</br>
    profile_picture: {{ form.profile_picture}}</br>
    username: {{ form.username}}</br>
    address: {{ form.address_line1}}</br>
    city: {{ form.city}}</br>
    state: {{form.state}}</br>
    pincode: {{ form.pincode}}</br>
    Role: <select id="user_role" name="user_role" required>
        <option value="None">None</option>
        <option value="patient">Patient</option>
        <option value="doctor">Doctor</option>
     </select>


    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        The passwords do not match.
      </div>
    {% endif %}

    <button type="submit">Sign Up</button>
  </form>